<div class="hello_world">

  <ul class="hello-world-items">
    {% for item in results %}
      <li class="hello-world-item">{{ item.message }}  This message was written by the user with a uid of {{ item.uid }} </li>
    {% endfor %}
  </ul>

  Here is another variable I created in the theme preprocessor function called test-var:
  {{ test_var }}


</div>
